/target
/hamix_os.iso
*.swp
*.swo
*~
.DS_Store
.vscode/
Cargo.lock
/target/
/hamix_os.iso
/build.log
/rootfs/
/isoroot/boot/kernel.bin
/isoroot/boot/initramfs.tar
/isoroot/boot/disk.img
/hamix_disk.img
/isoroot/boot/hext.img.gz
/rootfs-aarch64/
/rootfs-riscv64/
/out/
