set timeout=5
set default=0

insmod multiboot2

menuentry "HamixOS v0.1.0 (live, ramdisk root)" {
    multiboot2 /boot/kernel.bin
    module2 /boot/initramfs.tar initramfs.tar
    module2 /boot/disk.img disk.img
    boot
}
