set timeout=3
set default=0

insmod multiboot2
insmod all_video
insmod vbe
insmod vga

set gfxmode=1024x768x32,1024x768,800x600x32,800x600,auto
set gfxpayload=keep

menuentry "HamixOS 0.6 Live" {
    multiboot2 /boot/kernel.bin root=live
    module2 /boot/hext.img.gz hext
    module2 /boot/kmods.tar kmods
    boot
}

menuentry "HamixOS 0.6 (use the system installed on disk)" {
    multiboot2 /boot/kernel.bin root=auto
    module2 /boot/hext.img.gz hext
    module2 /boot/kmods.tar kmods
    boot
}

menuentry "HamixOS 0.6 Live (safe graphics, no driver modules)" {
    multiboot2 /boot/kernel.bin root=live nomodules
    module2 /boot/hext.img.gz hext
    boot
}

menuentry "HamixOS 0.6 Live (initramfs fallback)" {
    multiboot2 /boot/kernel.bin root=live
    module2 /boot/initramfs.tar initramfs.tar
    boot
}
